# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.egg
*.wheel

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*.swn
*.orig

# MacOS files
.DS_Store

# Logs
*.log

# Temporary files
*.tmp
*.bak
*.old
*.orig
*.rej
*~

# Generated documentation
docs/_build/

# System files
Thumbs.db
Desktop.ini

# Git-related
*.patch

# python files
py_hla_match/main.py

# data files
tests/resources/real_data
py_hla_match/techdemo/data/validation

# output files
output